[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-sorround"]
	path = _vim/bundle/vim-sorround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-git"]
	path = _vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "_vim/bundle/vim-gundo"]
	path = _vim/bundle/vim-gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/vim-tasklist"]
	path = _vim/bundle/vim-tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/vim-nerdtree"]
	path = _vim/bundle/vim-nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-puppet"]
	path = _vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "_vim/bundle/vim-tabular"]
	path = _vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/vim-gitgutter"]
	path = _vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/vim-snippets"]
	path = _vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_bash-git-prompt"]
	path = _bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "_vim/bundle/vim-airline-themes"]
	path = _vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "_vim/bundle/vim-tlib"]
	path = _vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/vim-addon-mw-utils"]
	path = _vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/bundle/vim-snipmate"]
	path = _vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
