[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-sorround"]
	path = _vim/bundle/vim-sorround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-git"]
	path = _vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "_vim/bundle/vim-gundo"]
	path = _vim/bundle/vim-gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/vim-nerdtree"]
	path = _vim/bundle/vim-nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-puppet"]
	path = _vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "_vim/bundle/vim-tabular"]
	path = _vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/vim-gitgutter"]
	path = _vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/vim-snippets"]
	path = _vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_bash-git-prompt"]
	path = _bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "_vim/bundle/vim-airline-themes"]
	path = _vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "_vim/bundle/vim-tlib"]
	path = _vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/vim-addon-mw-utils"]
	path = _vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/bundle/vim-nerdtree-git"]
	path = _vim/bundle/vim-nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "_vim/bundle/vim-ps1"]
	path = _vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "_vim/bundle/vim-ultisnips"]
	path = _vim/bundle/vim-ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/vim-nerdtree-tabs"]
	path = _vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "_vim/bundle/vim-schlepp"]
	path = _vim/bundle/vim-schlepp
	url = https://github.com/zirrostig/vim-schlepp.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-speeddating"]
	path = _vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "_vim/bundle/vim-commentary"]
	path = _vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/vim-sort-motion"]
	path = _vim/bundle/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion.git
[submodule "_vim/bundle/vim-ctrlp"]
	path = _vim/bundle/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "_vim/bundle/vim-tagbar"]
	path = _vim/bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar.git
